[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.13"
psycopg2 = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-rest-auth = "*"
django-allauth = "*"
conekta = "*"

[requires]
python_version = "3.7"
